<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PocketCare+.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
				<key>dateExpires</key>
				<string>4/30/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireMapper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ScrollableGraphView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UTMConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E20F4B99806779BEA73AF19A13672B009900E17B</string>
						<key>dateExpires</key>
						<string>4/30/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C85HD75Z6W</string>
						<key>name</key>
						<string>MD Chowdhury</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C85HD75Z6W.edu.buffalo.PocketCareS</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>C85HD75Z6W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PocketCare S.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7eeceb1b-7eea-4c82-af83-e96c58e98295</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: edu.buffalo.PocketCareS</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C85HD75Z6W</string>
				<key>name</key>
				<string>MD Chowdhury</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
